In [1]:
import sqlite3

# Connecting to a new database 

If there is no database, it will be created.

A cursor object is required to speak SQL with the database

In [2]:
db = sqlite3.connect('database.db')
cur = db.cursor()

# Creating a new table in our database

Syntax:

CREATE TABLE table (
    column1 datatype,
    column2 datatype)

In [5]:
cur.execute(''' CREATE TABLE IF NOT EXISTS store(store_id integer, name text, location text )''')

OperationalError: table store already exists

In [25]:
db.commit()

# Create

In [7]:
cur.execute('''INSERT INTO store VALUES(1234, 'Espresso house', 'Trelleborg')''')
cur.execute('''INSERT INTO store VALUES(321, 'Espresso house', 'Lund')''')
db.commit()

In [8]:
data = (71273821, 'Ica', 'Lund')
cur.execute('''INSERT INTO store VALUES (?,?,?)''', data)
db.commit()

# Read

In SQL the read method is called SELECT. 

Syntax: SELECT columns FROM table WHERE condition

We need to use a fetch command with the cursor to actually get the data

In [11]:
cur.execute("SELECT name FROM store WHERE location = 'Lund'")
cur.fetchall()

[('Espresso house',), ('Ica',)]

In [12]:
out = cur.execute('SELECT * FROM store')
for item in out:
    print(item)

(123, 'Espresso house', 'Malmö')
(1234, 'Espresso house', 'Trelleborg')
(321, 'Espresso house', 'Lund')
(71273821, 'Ica', 'Lund')

# Update

Syntax: UPDATE table SET column1 = x, column2 = y WHERE condition

In [16]:
cur.execute("""UPDATE store 
            SET name = 'EH' 
            WHERE name = 'Espresso house'""")
db.commit()

# Delete

Syntax: DELETE FROM table WHERE condition

In [17]:
cur.execute('DELETE FROM store WHERE store_id = 123')
db.commit()

# Implement a database for stores and their sales

Specs:
- table stores
- table sales
- table products

In [18]:
db = sqlite3.connect('company.db')
cur = db.cursor()

In [20]:
cur.execute('''CREATE TABLE IF NOT EXISTS stores(
    id integer,
    name text,
    location text)''')

cur.execute(""" CREATE TABLE IF NOT EXISTS sales(
    id integer,
    product_id integer,
    store_id integer,
    price float)""")

cur.execute(""" CREATE TABLE IF NOT EXISTS products(
    id integer,
    name text,
    price float)""")

db.commit()

In [21]:
cur.execute("INSERT INTO stores VALUES (123, 'Ica', 'Malmö')")
cur.execute("INSERT INTO stores VALUES (124, 'Ica', 'Lund')")
db.commit()

In [22]:
data = (125, 'Ica', 'Trelleborg')
cur.execute("INSERT INTO stores VALUES (?,?,?)", data)
db.commit()

In [23]:
cur.execute("INSERT INTO products VALUES(1,'Mjölk', 587)")
db.commit()

In [25]:
cur.execute("UPDATE products SET price = 12 WHERE name = 'Mjölk'")
db.commit()

In [35]:
items = cur.execute("SELECT location FROM stores WHERE name = 'Ica' ")
for item in items:
    print(item)

('Malmö',)
('Lund',)
('Trelleborg',)

In [34]:
cur.execute('INSERT INTO sales VALUES(19879, 1, 124, 12)')
cur.execute('INSERT INTO sales VALUES(19880, 1, 123, 12)')
cur.execute('INSERT INTO sales VALUES(19885, 1, 123, 12)')
cur.execute('INSERT INTO sales VALUES(19886, 1, 123, 12)')

db.commit()